{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-background">
    <div class="container mt-5">
        <h1 class="text-center">What is Flight Club and how can it help you?</h1>
        <hr class="bg-black">
    
        <p class="lead">Do you: 1) have a credit card that earns points, 2) fly often, and 3) want to learn about a little known secret to increase your flight purchase options for your next trip? Read on!</p>
        
        <p class="lead">This app is designed to help travelers get the most from their valuable airline points. Acrue airline points by flying on airlines, and by transferring points from your credit cards to your airline accounts.</p>
    
        <p class="lead">Travelers with a Flight Club account can search flights between any 2 airports worldwide, and save any flight of interest to their personal profile. All your saved airline reward programs will work together with your saved flights to highlight the flights available purchase options across other airline programs too.</p>
    
        <p class="lead">Most major airlines are partners with a handful of other airlines that form alliances and have "codeshares" agreements, which are commercial arrangements between airlines where one sells seats on a flight operated by another. e.g. Air Canada selling United Airlines seats.</p>

        <p class="lead">Real world example: You search flights NYC -> Zurich on some future date, and are interested in a Swiss Airlines option. Select the flight to save it to your profile, return there, and view that flight. Flight Club will automatically filter that flight and its carrier against all of its current airline alliance members -- as well as your current reward programs within that alliance -- to display all potential purchase options for that given flight to you.</p>

        <p class="lead">Interested? Head over to <a href="/register">Register</a> to get started!</p>

    </div>

</div>


  
{% endblock %}