{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-background fw-bold">
    <h1 class="display-6 fw-bold text-center">What is Flight Club and how can it help you?</h1>

    <p>Do you: 1) have a credit card that earns points, 2) fly often, and 3) want to learn about a little known secret to exponentially increase your flight options when browsing your next trip? Then please read on!</p>
    
    <p>This app is designed with the sole intention of helping travelers get the most from their highly valuable airline points. Acrue airline points by flying on airlines, and by transferring points from your credit cards. So keep earning and keep saving!</p>

    <p>Travelers with a Flight Club account will be able to search any nonstop flight paths worldwide -- domestic or international -- and save any flight results and airline info to their secure account. This saved flight info will work in harmony with your airline reward programs. Any airline reward accounts you have -- any future accounts you sign up for, which will be automatically suggested by this app -- will be saved and secure in your personal account as well.</p>

    <p>Most major airlines are partners with a handful of other airlines that form different alliances and offer each other "codeshares" -- commercial arrangements between airlines where one sells seats on a flight operated by another. United Airlines and Air Canada, for example.</p>

    <p>Without losing you in more technicalities and hidden heavy lifting, your saved airline reward programs will work with every new flight you search and save automatically, so that Flight Club can return to you feedback of every other airline that could sell your chosen flight(s) under their codeshare using their points. We will also tell you which programs you do not have saved accounts with that would have been helpful for each search.</p>

    <p>Example: You're interested in the nonstop Swiss Airlines flight from New York to Zurich on some given date. Selecting this route after your search will result in Flight Club filtering out the other airlines that are currently codeshare partners with Swiss airlines that could sell that particular ticket. i.e. United Airlines' MileagePlus program, and Air Canada's AeroPlan program. Your account will be scanned to see which partner airline frequent flyer programs you are already a member with and suggest those sites to you, as well as other alliance members that you currently do not have an account with.</p>

    <p>Piggy-backing off of Flight Club's original purpose of helping navigate airline reward programs and their airline alliances, you can also save your credit cards to your secure and encrypted account so that Flight Club can return to you the airline programs those credit cards will allow transfers to.</p>

</div>


  
{% endblock %}