{% extends 'base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}

<div class="home-background">
    <hr class="bg-white">
    <div class="container mt-5 pt-xl-5">
        <h1>Frequently Asked Questions:</h1>
    </div>

    <div class="container mt-3">
        <h4><u>What is the purpose of FlightClub?</u></h4>
        <p class="lead">This app highlights ambiguous info about airline partners that proves very useful when purchasing a flight cheaply. Typically this is done using an airline's digital "miles" currency rather than cash.</p>
    </div>

    <div class="container mt-3">
        <h4><u>What do you mean by "miles" currency exactly?</u></h4>
        <p class="lead">Every major airline has their own "Frequent Flyer" program (their rewards program), and is free to sign up. Using the account number when signed up, when you fly on their airline, you will generate thousands of "miles" which is a generic term for an airline's reward's currency. Delta Airlines has "Skymiles" & British Airways has "Avios", for instance. These miles are accumulated based on how often you fly, and how far each flight was.</p>
    </div>

    <div class="container mt-3">
        <h4><u>Sounds great, but are there any other ways to create airline "miles" if I don't fly often but want to purchase flights with these miles?</u></h4>
        <p class="lead">YES! Perhaps the easiest way to get miles with an airline is by transferring credit card points to that card's airline partners. This is very convenient because credit card points can be earned from purchasing anything -- groceries, hotels, Amazon orders, restaurants, etc. Each credit card has different airlines that the card is its own partner with for transferring points. If the airline isn't a partner with your credit card, you can't transfer points to that airline.</p>
    </div>

    <div class="container mt-3">
        <h4><u>Alright I'm convinced. How to I get set up to search flights and see how I can purchase them with airline miles?</u></h4>
        <p class="lead">
            1)&nbsp; Register an account with Flight Club; 
            2)&nbsp; In your Profile page, click "Airline Reward Program"; 
            3)&nbsp; Add every airline program you have. Now is a good time to register for any others you are interested in. 
            4)&nbsp; Use "Search Flights!" tab to search any worldwide nonstop flight paths using the airport's 3-digit IATA code. i.e. JFK to LHR (NYC to London); 
            5)&nbsp; Once you find a flight you're interested in, save it to your profile. Do this as many times as you'd like for any trips, airports, and dates you wish; 
            6)&nbsp; Back in your profile, View any saved flight. Flight Club will automatically tell you if you have this airline's reward program, and which of that airline's alliance partners you also have an account with. (i.e. Delta Airlines and Air France are both Sky Team members).
            7)&nbsp; This information is all you need to seek out purchasing your current flight in question with its various airline partners, using those airline's reward currency!
        </p>
        
    </div>

</div>


  
{% endblock %}