{% extends 'base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}

<div class="home-background">
    <hr class="bg-white">
    <div class="container mt-5 pt-xl-5">
        <h1>Frequently Asked Questions:</h1>
    </div>

    <div class="container mt-3">
        <h4><u>What is the purpose of FlightClub?</u></h4>
        <p class="lead">This app highlights rare and ambiguous info about airline alliance partners that proves very useful when looking to purchase a flight in the cheapest way possible. Typically this is done using the airline's -- or  its partners' -- digital "miles" currency rather than cash.</p>
    </div>

    <div class="container mt-3">
        <h4><u>What do you mean by "miles" currency exactly?</u></h4>
        <p class="lead">Every major airline across the globe has their own "Frequent Flyer" program (their rewards program) that's free to sign up. Using the account number given to you when signed up, when you fly on their airline, you will generate thousands of "miles" which is a generic term for an airline's reward's currency. Delta Airlines has "Skymiles" & British Airways has "Avios", for instance. These miles are accumulated based on how often you fly, and how far each flight you took was.</p>
    </div>

    <div class="container mt-3">
        <h4><u>Sounds great, but are there any other ways to create airline "miles" if I don't fly often but want to purchase flights with these miles instead of cash?</u></h4>
        <p class="lead">YES! Perhaps the easiest and most convenient way to get miles with an airline is by transferring points from your credit cards to their airline partners. This is very convenient because your points aren't restricted to coming from flights with an airline, but can come from restaurant and groceries purchased on various credit cards. Every credit card has a select handful of airline programs that it is partnered with however, so you must check each credit card to determine which airlines its points can be transferred to first.</p>
    </div>

    <div class="container mt-3">
        <h4><u>Alright I'm convinced. How to I get fully set up to begin searching for flights and purchasing them with various airline miles?</u></h4>
        <p class="lead">
            <u>1)</u>&nbsp; Register an account with Flight Club; 
            <u>2)</u>&nbsp; In your Profile page, click "Airline Reward Program"; 
            <u>3)</u>&nbsp; Find every airline program you currently have an account with, and add it and its account # to your profile here; 
            <u>4)</u>&nbsp; Use the "Search Flights!" tab that will take you to a form where you can search any nonstop flight paths around the world using the airport's 3-digit IATA code. i.e. JFK to LHR (NYC to London); 
            <u>5)</u>&nbsp; Matching flights will be compiled for you for that flight path on the given date. Once you find a flight you're interested in, save it to your profile. Do this as many times as you'd like; 
            <u>6)</u>&nbsp; Back in your profile, select any saved flight. Flight Club will automatically tell you if you have this airline's reward program, and which of that airline's alliance partners you also have an account with. (i.e. Delta Airlines and Air France are both Sky Team members).
            <u>7)</u>&nbsp; This information is all you need to seek out purchasing your current flight in question with its various airline partners, using those airline's reward currency!
        </p>
    </div>

</div>


  
{% endblock %}