{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<h1 class="display-4 text-primary text-center mt-5">*** Login to Your Account ***</h1>
<hr>
<div class="container mt-5">
    <form action="/login" method="POST">

        {{ form.hidden_tag() }}

        {% for field in form.errors %}
        <div class="alert alert-danger">{{field}}
            <ul>
                {% for error in form.errors[field] %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        {% for field in form if field.widget.input_type != 'hidden'%}
        <div class="form-group row">
        <strong>{{ field.label(class_="col-sm-2 col-form-label")}}</strong>
            <div class="col-sm-10">
            {{ field(class_="form-control") }}
            </div>
        </div>
        {% endfor %}

        <div class="col-12 mt-5">
            <button class="btn btn-primary" type="submit">Login!</button>
        </div>

    </form>
</div>


  
{% endblock %}
