{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<h1 class="display-4 text-primary text-center mt-5">*** Register Your Account ***</h1>
<hr class="bg-white">
<div class="container mt-5">
    <form action="/register" method="POST">

        {{ form.hidden_tag() }}

        <!-- Render any form errors first -->
        {% for field in form.errors %}
        <div class="alert alert-danger">{{field}}:
            <ul>
                {% for error in form.errors[field] %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        <!-- Loop over all fields to display label and field -->
        {% for field in form if field.widget.input_type != 'hidden'%}
        <span class="row"><strong>{{ field.label(class_="form-label")}}</strong></span>
        <div class="form-group row col-12">
            {{ field(class_="form-control form-control-lg") }}
        </div>
        {% endfor %}

        <!-- Register button -->
        <div class="col-12 mt-5">
            <button class="btn btn-primary" type="submit">Register Account</button>
        </div>

    </form>
</div>
<br>
  
{% endblock %}
