{% extends 'base.html' %}

{% block title %} Rewards {% endblock %}

{% block content %}

<h1 class="display-6 text-primary text-center mt-5">*** <strong>{{ user.username }}</strong>! Add a new Frequent Flyer program to your account below! ***</h1>

<hr class="bg-white">

<div class="alert alert-warning" role="alert">
    <strong>NOTE:</strong> Please select only <u>one</u> Airline Program below, and enter your account # with that airline to continue.
</div>

<div class="container mt-5">
    <form action="/users/<username>/rewards" method="POST">

        {{ form.hidden_tag() }}

        <!-- Render any form errors first -->
        {% for field in form.errors %}
        <div class="alert alert-danger">{{field}}
            <ul>
                {% for error in form.errors[field] %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        <!-- Loop over all fields to display label and field -->
        {% for field in form if field.widget.input_type != 'hidden'%}
        <span class="row"><strong>{{ field.label(class_="form-label")}}</strong></span>
        <div class="form-group row col-12">
            {{ field(class_="form-control form-control-lg") }}
        </div>
        {% endfor %}

        <hr class="bg-white">

        <!-- Submit button -->
        <div class="col-12 mt-5">
            <button class="btn btn-primary" type="submit">Add Program!</button>
        </div>

    </form>

    <hr class="bg-white">

    {% if user.user_airlines %}

        <h1 class="display-6 text-center">{{ user.username }}'s saved airline frequent flyer programs:</h1>
        <hr class="bg-white">
        {% for program in user.user_airlines %}

            <div class="card">
                <div class="row g-0">
                    <div class="col-5 col-sm-4">
                        <img src="{{ program.airlines.symbol }}" class="img-fluid w-100" alt="IMG NOT AVAILABLE">
                    </div>
                    <div class="col-7 col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title">{{program.airlines.name}}  ({{program.airlines.reward_program}})</h5>
                            <p class="card-text">Your {{program.airlines.reward_program}} account # is: <strong>{{program.acct_number}}</strong></p>
                            <p class="card-text"><strong>Notes:</strong>  {{program.notes}}</p>
                            <a href="/users/{{user.username}}" class="btn btn-primary">Go back to Account</a>
                            <a href="/rewards/{{user.id}}/{{program.airline_id}}/delete" class="btn btn-danger">Delete Program</a>
                        </div>
                        <div class="card-footer text-muted">
                            <img src="{{ program.airlines.logo }}" class="img-fluid border-5 border rounded border-primary" width="150" height="40" alt="X"> *Member of <u>{{ program.airlines.alliance }}</u>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="bg-white">
              
        {% endfor %}

    {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ user.username }}!</strong> You have not added any Airline's Frequent Flyer Programs to your account yet!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}



</div>

  
{% endblock %}