{% extends 'base.html' %}

{% block title %}Flight Search{% endblock %}

{% block links %}
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
/>
<link rel="stylesheet" href="../style.css" />
{% endblock %}

{% block content %}
<div class="container-sm">

	<h6>TESTING</h6>
	<h6>{{origin}}</h6>
	<h6>{{destination}}</h6>
	<h6>{{date}}</h6>
	<h6>TESTING</h6>
	<h6>{{form.data.origin}}</h6>
	<h6>{{form.data.destination}}</h6>
	<h6>{{form.data.date}}</h6>
	<h6>TESTING</h6>


	<!-- Begin card to contain origin/destination -->
	<form action="/search" method="POST">
		{{ form.hidden_tag() }}
		{% for field in form if field.widget.input_type != 'hidden' %}
			{% for err in field.errors %}
			<small class="form-text text-white bg-danger">
				<strong>*** {{err}} ***</strong>
			</small>
			{% endfor %}
		{% endfor %}
		<div class="my-2 card">
			<div class="card-body">
				<h5 class="card-title">Locations</h5>
				<div class="row">
					<!-- Begin origin input -->
					<div class="col-sm">
						<div class="mb-2">
							{% if form.origin.widget.input_type != 'hidden' %}
							{{form.origin.label(id="origin-label", for="origin-input", class="form-label")}}
							<!-- <label id="origin-label" for="origin-input" class="form-label">Origin</label> -->
							<div class="input-group">
								<span class="input-group-text"><i class="bi-pin-map"></i></span>
								{{form.origin(placeholder="Airport IATA Code", class="form-control", type="text", list="origin-options", id="origin-input")}}
								<!-- <input type="text" class="form-control" list="origin-options" id="origin-input" placeholder="Airport IATA Code" aria-describedby="origin-label"> -->
								<datalist id="origin-options"></datalist>
							</div>
							{% endif %}
						</div>
					</div>
					<!-- End origin input -->
					<!-- Begin destination input -->
					<div class="col-sm">
						<div class="mb-2">
							{% if form.destination.widget.input_type != 'hidden' %}
							{{form.destination.label(id="destination-label", for="destination-input", class="form-label")}}
							<!-- <label id="destination-label" for="destination-input" class="form-label">Destination</label> -->
							<div class="input-group">
								<span class="input-group-text"><i class="bi-pin-map-fill"></i></span>
								{{form.destination(placeholder="Airport IATA Code", class="form-control", type="text", list="destination-options", id="destination-input")}}
								<!-- <input type="text" class="form-control" list="destination-options" id="destination-input" placeholder="Airport IATA Code" aria-describedby="destination-label"> -->
								<datalist id="destination-options"></datalist>
							</div>
							{% endif %}
						</div>
					</div>
					<!-- End destination input -->
				</div>
			</div>
		</div>
		<!-- End card to contain origin/destination -->

		<div class="row">
			<!-- Begin dates column -->
			<div class="mb-2 col">
				<div class="h-100 card">
					<div class="card-body">
						<h5 class="card-title">Dates</h5>
						<!-- Begin flight select -->
						<div class="mb-2">
							<label id="flight-type-label" for="flight-type-select" class="form-label">Flight</label>
							<select name="" id="flight-type-select" class="form-select" aria-describedby="flight-type-label">
								<option value="one-way">One-way</option>
								<option value="round-trip" disabled>Round Trip (not yet supported)</option>
							</select>
						</div>
						<!-- End flight select -->
						<!-- Begin departure date input -->
						<div id="departure-date" class="mb-2">
							{% if form.date.widget.input_type != 'hidden' %}
							{{form.date.label(id="departure-date-label", for="departure-date-input", class="form-label")}}
							<!-- <label id="departure-date-label" for="departure-date-input" class="form-label">Departure date</label> -->
							<div class="input-group">
								<span class="input-group-text"><i class="bi-calendar"></i></span>
								{{form.date(type="date", class="form-control", id="departure-date-input")}}
								<!-- <input type="date" class="form-control" id="departure-date-input" aria-describedby="departure-date-label"> -->
							</div>
							{% endif %}
						</div>
						<!-- End departure date input -->
						<!-- Begin return date input -->
						<div id="return-date" class="mb-2">
							<label id="return-date-label" for="return-date-input" class="form-label">Return date (not yet supported)</label>
							<div class="input-group">
								<span class="input-group-text"><i class="bi-calendar-fill"></i></span>
								<input type="date" class="form-control" id="return-date-input" aria-describedby="return-date-label" disabled>
							</div>
						</div>
						<!-- End return date input -->
					</div>
				</div>
			</div>
			<!-- End dates column -->
			<!-- Begin details column -->
			<div class="mb-2 col">
				<div class="h-100 card">
					<div class="card-body">
						<h5 class="card-title">Details</h5>
						<!-- Begin travel class input -->
						<div class="mb-2">
							<label id="travel-class-label" for="travel-class-select" class="form-label">Travel Class</label>
							<select name="" id="travel-class-select" class="form-select" aria-describedby="travel-class-label">
								<option value="ECONOMY">Economy</option>
								<option value="PREMIUM_ECONOMY" disabled>Premium Economy (not yet supported)</option>
								<option value="BUSINESS" disabled>Business (not yet supported)</option>
								<option value="FIRST" disabled>First (not yet supported)</option>
							</select>
						</div>
						<!-- End travel class input -->
						<label class="form-label">Passengers</label>
						<!-- Begin adult input -->
						<div class="mb-2">
							<div class="input-group">
								<label for="adults-input" class="input-group-text">Adults</label>
								<input type="number" min="0" max="7" class="form-control" id="adults-input" aria-describedby="adults-label">
							</div>
							<span id="adults-label" class="form-text">12 years old and older</span>
						</div>
						<!-- End adult input -->
						<!-- Begin children input -->
						<div class="mb-2">
							<div class="input-group">
								<label for="children-input" class="input-group-text">Children</label>
								<input type="number" min="0" max="7" class="form-control" id="children-input" aria-describedby="children-label" disabled>
							</div>
							<span id="children-label" class="form-text">2 to 12 years old (not yet supported)</span>
						</div>
						<!-- End children input -->
						<!-- Begin infant input -->
						<div class="mb-2">
							<div class="input-group">
								<label for="infants-input" class="input-group-text">Infants</label>
								<input type="number" min="0" max="7" class="form-control" id="infants-input" aria-describedby="infants-label" disabled>
							</div>
							<span id="infants-label" class="form-text">Up to 2 years old (not yet supported)</span>
						</div>
						<!-- End infant input -->
					</div>
				</div>
			</div>
			<!-- End passenger details column -->
		</div>
		<button id="search-button" class="w-100 btn btn-primary">Search Flights!</button>
	</form>

	
</div>

<!-- Grid to append flight search results -->
<div class="container-sm mt-5 mb-5">
	<div class="row row-cols-1 row-cols-sm-2 g-3">
		{% for itin in itins %}
		<div class="col">
			<div class="card">
				<img src="" class="card-img-top" alt="card-grid-image">
				<div class="card-body">
					<h5 class="card-title">Flight Option #{{ itin['info']['id'] }}:</h5>
					<p class="card-text">{{ itin['info']['marketing_airline'] }} -- {{ itin['info']['marketing_airline_code'] }} -- {{ itin['info']['flight_number'] }} -- {{ itin['info']['duration'] }}</p>
				</div>
				<div class="card-footer">
					<small class="text-muted">Choose this flight!</small>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>



<!-- <script src="../static/script.js"></script> -->

{% endblock %}