{% extends 'base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}

<h1 class="display-6 text-center">Hi, {{ user.username }}! Welcome to your personal profile!</h1>

<!-- User bio div -->
<div class="card border-dark">
    <div class="row g-0">
        <div class="col-5 col-sm-4">
            <img src="{{ user.profile_pic }}" class="img-fluid w-150" alt="Profile pic for {{ user.username }}">
        </div>
        <div class="col-7 col-sm-8">
            <div class="card-body">
            <h5 class="card-title">Full name: &nbsp; {{ user.first_name }} {{ user.last_name }}</h5>
            <p class="card-text">Age: &nbsp; {{ user.age }}</p>
            <p class="card-text">E-mail: &nbsp; {{ user.email }}</p>
            <p class="card-text">You have <span class="badge bg-info">{{ num_flights }}</span> saved flights!</p>
            <p class="card-text">You have <span class="badge bg-info">{{num_programs}}</span> saved airline programs!</p>
            <p class="card-text">Notes: &nbsp; <small class="text-muted"> {{ user.notes }} </small></p>
            </div>
        </div>
    </div>
</div>

<hr class="bg-white">

<!-- Buttons -->
<form method="POST" action="/users/delete" class="form-inline">
    <a class="btn btn-secondary mx-2" href="/users/editprofile">Edit Profile</a>
    <a class="btn btn-primary mx-2" href="/users/{{ user.username }}/rewards">Airline Reward Programs</a>
    <button class="btn btn-danger mx-2">Delete Profile</button>
</form>

<hr class="bg-white">


<!-- Render list of user's saved flights -->
{% if user.flights %}
    <h1 class="display-6">{{ user.username }}'s saved flights:</h1>

    <div class="alert alert-warning fade show" role="alert">
        <span class="lead"><strong>NOTE:</strong> &nbsp; View a flight below to browse all methods for purchasing with airline alliance member's reward programs!</span>
    </div>


    <ul class="list-group list-group-numbered mb-5">
        {% for flight in user.flights %}
        <li class="list-group-item">
            <img src="/static/pics/logos/{{ flight.airline_iata_code }}_logo.png" class="img-fluid img-thumbnail border-5 border border-primary" width="40" height="40" alt="X">
            &nbsp;
            <span>{{flight.departure_airport_code}} to {{flight.arrival_airport_code}} on {{flight.departure_date}} at {{flight.departure_time}} on {{flight.airline_name}}'s flight # {{ flight.airline_iata_code }} {{ flight.flight_number }}</span> 
            <span class="badge bg-primary mx-1">
                <a href="/flight/{{flight.id}}" class="text-decoration-none text-white">View Flight!</a>
            </span>
            <span class="badge bg-danger mx-1">
                <a href="/flight/{{flight.id}}/delete" class="text-decoration-none text-white">Delete</a>
            </span>
        </li>
        {% endfor %}
    </ul>

{% else %}

<div class="alert alert-primary" role="alert">
    {{ user.username }} hasn't saved any flights yet! Visit <a href="/search" class="alert-link">Search Flights</a> to find flights of interest.
</div>

{% endif %}

  
{% endblock %}