{% extends 'base.html' %}

{% block title %}Flight Info{% endblock %}

{% block content %}

<h1 class="display-6">Viewing flight:</h1>

<hr class="bg-white">

<!-- Render card with flight info -->
<div class="card">
    <div class="row g-0">
        <div class="col-5 col-sm-4">
            <img src="/static/pics/logos/{{flight.airline_iata_code}}_logo.png" class="img-fluid w-100" alt="IMG NOT AVAILABLE">
        </div>
        <div class="col-7 col-sm-8">
            <div class="card-body">
                <h5 class="card-title lead">
                    <img src="/static/pics/logos/{{flight.airline_iata_code}}_name.png" class="img-fluid border-5 border rounded border-primary" width="150" height="40" alt="X">
                    &nbsp; {{flight.airline_name}} flight # {{ flight.airline_iata_code }} {{ flight.flight_number }}</h5>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success"><strong>DEPART:</strong> &nbsp; {{ flight.departure_date }} at {{ flight.departure_time }} from {{ flight.departure_airport_code }}</li>
                    <li class="list-group-item list-group-item-success"><strong>ARRIVE:</strong> &nbsp; {{ flight.arrival_date }} at {{ flight.arrival_time }} at {{ flight.arrival_airport_code }}</li>
                </ul>
            </div>
            <div class="card-footer text-muted">
                <span>Total cash price: &nbsp; ${{ flight.price }}0 -- Flight is NONSTOP</span>
            </div>

            <hr class="bg-white">

            {% if program %}
            <div class="alert alert-primary lead" role="alert">
                *You have this airline's reward program! Go <a href="{{ airline.url }}" class="link-primary">HERE</a> and log in with your account number: <strong>{{ program.acct_number }}</strong> to search for this flight's availability.
            </div>
            {% else %}
            <div class="alert alert-secondary lead" role="alert">
                *You don't have {{flight.airline_name}}'s reward program yet. Go to their website <a href="{{ airline.url }}" class="link-primary">HERE</a> to sign up for future reward flight purchases!
            </div>
            {% endif %}
        </div>        
    </div>
</div>

<!-- Navigation buttons -->
<hr class="bg-white">
<a href="/users/{{user.username}}" class="btn btn-info">Back To My Profile</a>
<a href="/search" class="btn btn-success">Search for a new flight!</a>
<hr class="bg-white">


<!-- Render list of alliance programs -->
<p class="lead">Your flight can be purchased by the following alliance members!</p>

<ul class="list-group">
    {% for airline in all_allies %}
    
        {% if airline.id in all_user_programs_airline_ids %}

            <li class="list-group-item list-group-item-info"> 
                <img src="{{ airline.symbol }}" class="img-fluid img-thumbnail border-success" width="40" height="40" alt="X">
                <strong>***<u>ACCOUNT MATCH!</u>***</strong> <strong> with {{ airline.name }} ({{ airline.reward_program }})</strong>
                <p>
                    Revisit their website <a href="{{airline.url}}" class="btn btn-sm btn-success">HERE</a> where you can log in and search for your selected {{flight.airline_name}} flight using {{ airline.name }}'s ({{airline.reward_program}}) reward points! Good luck!
                </p>
            </li>

        {% else %}

            <li class="list-group-item list-group-item-warning">
                <img src="{{ airline.symbol }}" class="img-fluid img-thumbnail border-danger" width="40" height="40" alt="X">
                {{ airline.name }} ({{ airline.reward_program }})
                <p>*You don't have an account with {{flight.airline_name}}'s reward program. Consider visiting their website <a href="{{airline.url}}">here</a> where you can sign up and start making more alliance matches.</p>
            </li>

        {% endif %}

    {% endfor %}
</ul>

<hr class="bg-white">

  
{% endblock %}